*{
    margin: 0;
    padding-left: px;
    padding-right: px;
    
}

body{
  background-color: rgb(255, 255, 255);
}
.cssh2{
  color:rgb(47, 240, 230);
}

.navbarhead{
  font-weight: 500;
  color: rgb(149, 174, 196);
}
.logoheader{
  width: 5.2rem;
  height: auto;
}
#mainbody{
    background: url(./vidandpic/bg-mainbody.jpg);
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-attachment:scroll;
    background-blend-mode: screen;
    min-height: 59vh;
    
  }
  @media(max-width:800px){
    #mainbody{
      background: url("./vidandpic/bg-mainbody.jpg");
      max-width: 100%;
      height: 50vh; 
      background-size: cover;
      background-position: center;
      background-size: 100% 100%;
      background-attachment:scroll;
    }
  }
  .floatingbox{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 5px solid #a7d6e9;
    border-radius: 15px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
  }
  @media(max-width:900px){
    .floatingbox{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 70%;
    padding: 20px;
    text-align: center;
  }
}

  nav{
    background: rgb(76, 93, 192);
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
    text-decoration: none;
    list-style: none;
    
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  a.active,a:hover{
    background: #c0396d;
    transition: .5s;
  }
 .checkbtn{
  font-size: 30px;
  color: azure;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
 }
 #check{
  display: none;
 }
 @media(max-width: 982px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
 }
 @media(max-width: 950px){
  .checkbtn{
    display: block;
  }
  ul{
    position:absolute;
    top: 220px;
    width: 100%;
    height: 30vh;
    background: rgb(76, 93, 192);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 2;  
  }
  nav ul li{
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 15px;
  }
  a:hover,a.active{
    background: none;
    color: burlywood;
  }
  #check:checked ~ ul{
    left: 0;
  }
 }

  p.h2{
   font-size: 2.5em;
   color:rgb(86, 241, 169);
  }
  
  p.h3{
    font-size: 2em;
  }
  @media(max-width: 768px){
    p.h2{
      font-size: 1.8em;
      color:rgb(86, 241, 169);
     }
     p.h3{
      font-size: 1.6em;
    }
  }
  


.logoname{
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
}
.imagelogo{
  max-width: 4rem;
 
}
.associate{
  background-color: rgb(76, 93, 192);
  height: 30vh;
}
@media(max-width: 992px){
  .associate{
    background-color: rgb(76, 93, 192);
    height: 50vh;
  }
}
@media(max-width: 768px){
  .associate{
    background-color: rgb(76, 93, 192);
    height: 50vh;
    height: 50vh;
  }
}

.for-about-us{
  background-color: rgb(233, 233, 233);;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 89%, 80% 100%, 20% 100%, 0 89%, 0% 20%);
}

.tutorialbody{
  background-color: rgb(238, 238, 238);
  width: 100%;
  min-height:180vh;
 
}
.cssheader{
  width: 350px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2em;
}
.aboutuscontent{
  font-size: 1.6em;
  }
@media(max-width: 768px){
  .cssheader{
    width: 350px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
  }
  .aboutuscontent{
    font-size: 1.1em;
    }
}
.introcss{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
}
.user-comment{
 box-shadow: 20px 20px 50px rgba(24, 19, 19, 0.5) ;
  background: rgba(255, 255, 255,0.1);
  position: relative;
}
#tutorial-card{
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5) ;
  background: rgba(255, 255, 255,0.1);
  backdrop-filter: blur(5px);
  position: relative;
}
#tutorial-card:hover{
  padding: 3px;
  background: #61b9df;
  transition: .3s;
  
}
.price{
background-color: rgb(233, 233, 233);
}
.aboutus{
  
  width: 350px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2em;
}
.learn-about-us{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
}

.loginform{
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5) ;
  background: rgba(255, 255, 255,0.1);
  backdrop-filter: blur(5px);
  position: relative;
  width: 45rem;
  margin-top:8rem;
  margin-bottom: 10rem;
  padding-top: 5rem;
}
@media(max-width: 768px){
  .loginform{
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5) ;
    background: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(5px);
    position: relative;
    width: 29rem;
    margin-top:8rem;
    margin-bottom: 10rem;
    padding-top: 5rem;
  }
}

.stayintouch{
  font-size: 0.7em;
  font-family: Arial, Helvetica, sans-serif;

}
h5{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.buttonnext{
  margin: 20px;
}
.footer {
  font-size: 1.2em;
  margin-bottom: none;
  height: auto;
  width: 100%;
  background-color: rgb(76, 93, 192);
  height: 30vh;
  color: white;
  text-align: center;
}


video{
  width:80%;
  height: auto;
}

.styleintro{
  font-family:Arial, sans-serif;
  font-size: 1.3em;
}
@media(max-width: 768px){
  .styleintro{
    font-family:Arial, sans-serif;
    font-size: 1em;
  }
}
.title{
  font-weight: 700;
  font-size: 2em;
}
@media(max-width: 768px){
  .title{
    font-weight: 700;
    font-size: 1.2em;
  }
}




